<launch>
  <node name="actionTranslator" pkg="roomba" type="scripts/actionTranslator.py" />
  <!-- <node name="driverLineSensor" pkg="roomba" type="driverLineSensor.py" /> -->
  <!-- <node name="logger" pkg="roomba" type="logger.py" /> -->
  <node name="navigator" pkg="roomba" type="scripts/navigator.py" />
  <!-- <node name="perceptionTranslatorBattery" pkg="roomba" type="perceptionTranslatorBattery.py" /> -->
  <!-- <node name="perceptionTranslatorLine" pkg="roomba" type="perceptionTranslatorLine.py" /> -->
  <!-- <node name="perceptionTranslatorQr" pkg="roomba" type="perceptionTranslatorQr.py" /> -->
  <!-- <node name="driverCamera" pkg="roomba" type="driverCamera.py" /> -->
  <node name="driverSensors" pkg="roomba" type="scripts/driverCombined.py" />
</launch>